.navbar{
  font-size: medium;
  margin-top: 20%;
  color: white;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  color: white;
}
.navbuttons{
  flex-grow: 0;
  border-right: 1px rgba(255, 255, 255, 0.5) solid;
  height: 100vh;
}

.content{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;

  overflow: auto;
}
.nav-link{
  color: white;
}
.smallicon{
  margin-right: 10px;
}
.nav-link{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius:15px;
}

.nav-link:hover{
  background-color: rgba(37, 37, 37, 0.9);
  color: white;
}

a.nav-link:focus{
  font-size: 103%;
  font-weight:bold;
  color: white;
}
.buttontext{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
}

.postButton{
  width: 170px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
  color: white;
  background-color: #093000;
  border-width: 0;
  float: inline-end;
}
.postButton:hover{
  background-color: #146d00;
}
.postButton:active{
  background-color: #0d4900;
}
.buttontext:active{
scale: 1.2;
}

.postButton.collapsed{
  width: 50px;
  height: 50px;
}

.preventSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.sidebarList.collapsed {
  overflow-x: hidden;
  width: 50px;
}