.app {
  color: white;
  display: flex;
  flex-direction: row;
}
.navbuttons{
  border-right: 1px rgba(255, 255, 255, 0.5) solid;
  flex: 1;
  padding: 10px;
  padding-top: 30px;
  max-width:300px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  top: 0;
}

.navbuttons.collapsed{
  flex: 0;
}

.content{
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  padding: 10px;
}


.content::-webkit-scrollbar {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 8px;
}
.content::-webkit-scrollbar-thumb {
  background-color: #093000;
  border-radius: 5px;
}

.nav-link{
  color: white;
}
.smallicon{
  margin-right: 10px;
}
.nav-link{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius:15px;
}

.nav-link:hover{
  background-color: rgba(37, 37, 37, 0.9);
  color: white;
}

a.nav-link:focus{
  font-size: 103%;
  font-weight:bold;
  color: white;
}
.buttontext{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
}

.postButton{
  width: 170px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
  color: white;
  background-color: #093000;
  border-width: 0;
  float: inline-end;
}
.postButton:hover{
  background-color: #146d00;
}
.postButton:active{
  background-color: #0d4900;
}
.buttontext:active{
scale: 1.2;
}

.postButton.collapsed{
  width: 50px;
  height: 50px;
}

.preventSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.sidebarList.collapsed {
  overflow-x: hidden;
  width: 50px;
}