.bigBox{ 
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    
}
.inputBox{
    max-width: 600px;
    width:90%;
    border-radius: 25px;
    min-height: 400px; 
    max-height: 90vh;
    background-color: rgb(3, 8, 0);
    opacity: 1;
    padding: 16px;
}

.closeIcon{
    color: white;
    scale: 1.3;
    width: 20px;
    height: 20px;
    border: none;
    background-color: none;
    background: none;
    float: inline-end;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    justify-content: center;
}
.closeIcon:hover {
    background-color: #146d00;
}
.closeIcon:active{
    background-color: #0c4400;
}

.menu {
    width: fit-content;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
}
.menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
    margin-bottom: 3px;
    border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
}
.menu-item:hover {
    color: #146d00;
}
.menu.popup{        /*popup menu*/
    margin-left: 10px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
}

.form{
    padding: 30px
}
.szoveg{
    background-color: rgb(200, 200, 200);
    padding-top:10px;
    border-radius: 10px;
    height: 150px;
}

[type=text], textarea { /*apply style to both text inputs and textareas*/
    background: transparent;
    border: none;
    width: 100%;
    height: auto;
    
   padding-inline: 10px;
}


textarea{
    height: 114px;
    resize: none;   
    border-top: 1px rgba(0, 0, 0, 0.5) solid;

}

input[type=text]:focus, textarea:focus {
    outline: none;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
::-ms-input-placeholder{
    color: rgba(0, 0, 0, 0.5);
}


textarea::-webkit-scrollbar {
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
    cursor: crosshair;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #082c00;
    border-radius: 5px;
}



.inputImage{
    max-height: 200px;
    max-width: 100%;
    border: none;
    margin-bottom: 3px;
    border-radius: 5%;
}